:root {
    --branco-principal: #ffffff;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167DF7;
    --cor-de-fundo: #00030C;
    --cor-de-fundo2: linear-gradient(145.54deg, #000000 25.49%, #326589 165.37%);
    --font-princial: 'Inter', sans-serif;
    --botao-efeito: #ebf2ff; 
}

body {
    background: var(--cor-de-fundo2);
    /* background-color: var(--cor-de-fundo); */
    color: var(--branco-principal);
    font-family: var(--font-princial);
    font-size: 1rem;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    display: grid;
    height: 90vh;
    grid-template-columns: 50% 50%;
    align-items: center;
    text-align: center;
}

.container__botao {
    background-color: var(--botao-azul);
    padding: 1em;
    border-radius: 8px;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-top: 1.5em;
    margin-bottom: 1em ;
}

.container__botao:hover {
    background-color: var(--botao-efeito);
    color: var(--botao-azul);
    transition: 0.3s;
}

.botao__secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa{
    margin: 0 6em;
}

.sucundario__imagem {
    width: 80%;
}

.secundario {
    flex-direction: column;
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 3rem;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.terceiro__imagem {
    width: 100%;
}

.container__descricao {
    padding: 2em;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.dispositivos__titulo {
    font-size: 3rem;
    margin: 1em 0 0 0;
}

.lista__item {
    font-size: 2rem;
}

.rodape {
    text-align: left;
}

.rodape__logo {
    margin: 2em 0 1em 0;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a:hover {
        color: var(--botao-azul);
}

.lista__link a{
    font-size: 1rem;
    margin-left: 1em;
    text-decoration: none;
    color: var(--branco-principal)
}

.lista__link a:active {
    color: var(--botao-efeito);
}


.rodape__texto {
    margin: 2em 2em;
    font-size: 0.87rem;
    color: var(--cinza-secundario);
}

.rodape {
    margin: 5em 3em;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column; ;
        background-image: none;
    }

    .principal {
        margin: 15% 0 35% 0;
    }

    .secundario {
        margin: 7em 0;
    }

    .descricao__titulo {
        font-size: 2rem;
    }

    .dispositivos__lista {
        flex-direction: column;
        gap: 2em;
    }

    .dispositivos__lista li{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 1em;
    }

   .dispositivos__img {
        align-items: center;
   }

    .container__imagem {
        width: 50vw;
    }

    .container__titulo {
        margin-bottom: 1.5em;
    }

    .container__botao, 
    botao__secundario {
        margin: 1em 2em;
    }

    .container__caixa{
        margin: 2em 2em;
    }

    .secundario {
        margin: 0;
        text-align: center;
        box-sizing: border-box;
    }

    .sucundario__imagem {
        width: 50vw;
    }

    .terceiro__imagem {
        /* margin-right: 30em; */
        margin: 0 30em ;
        width: 50vw;
    }

    .dispositivos__titulo {
        padding: 1.5em;
        font-size: 2rem;
    }

    .dispositivos__lista {
        display: block;
    }

    .rodape__lista {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .rodape__texto {
        margin: 2em 2em;
    }

    .lista__link a{
        margin: 0.5em;
    }
}
